<!DOCTYPE html>
<html>
  <head>
    <title>Eventful</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
      window.sliderImage1 = "<%= image_url('home_page_slider_1.jpg') %>"
      window.sliderImage2 = "<%= image_url('home_page_slider_2.jpg') %>"
      window.searchIcon = "<%= image_url('search_icon.svg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
